$f-1: "Work";
$f-2: gill-sans-nova-shadowed-outl, sans-serif;
$f-3: gill-sans-nova, sans-serif;
$c-1: #084872;
$c-2: #fff;
$c-3: rgba(255,255,255,.1);





@font-face{
	font-family: 'Work';
	src: url('../fonts/WorkSans-Roman-VF.ttf')
}